.DS_Store
xcuserdata/
DerivedData/
.build/
*.xcuserstate
ShowPirate/Config/Secrets.plist
.env
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
profile
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
Timeline.xctimeline
playground.xcworkspace
.swiftpm/
showPirate.images/
showPirate.urlcache/
showPirate.tmdb/
